footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border-top: solid;
    border-color: #F6BB3D;
}

footer .footer-content {
    display: flex;
    align-items: center;
}

footer img {
    width: 60px;
}

footer span {
    color: #000000;
    margin-left: 10px;
    font-size: 12px;
    text-align: center;
}