.App {
    margin-bottom: 100px;
}

.type-calc-select {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.calculation-area .illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculation-area .illustration h4 {
    text-align: center;
}